<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/repo/AutomationTuto/Amazon-TestNG-Framework/src/test/java/com/amazon/test/tests/AmazonHomePageTest.java">
        <classes>
            <class name="com.amazon.test.tests.AmazonHomePageTest">
                <methods>
                    <exclude name="verifyAmazonLogo"/>
                    <exclude name="verifyAmazonMenus"/>
                    <exclude name="verifyAmazonOperationCountries"/>
                    <exclude name="verifyAmazonLoginPage"/>
                    <exclude name="validateSignInInvalidLogins"/>
                </methods>
            </class>
            <class name="com.amazon.test.tests.AmazonSignInTest">
                <methods>
                    <exclude name="validateSignInInvalidLogins"/>
                    <exclude name="validateSignValidLogins"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>